@import url('https://fonts.googleapis.com/css2?family=Acme&family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url(pics/back.jpg);
  }

  .calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    max-width: 600px;
    width: 100%;
  }

  .calendar .day {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
    -webkit-box-shadow: -1px 2px 20px 8px rgba(239, 0, 0, 0.40) inset;
    -moz-box-shadow: -1px 2px 20px 8px rgba(239, 0, 0, 0.40) inset;
    box-shadow: -1px 2px 20px 8px rgba(239, 0, 0, 0.40) inset;
    border-radius: 8px;
    font-size: 1.5em;
    color: #ffffff;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  }

  /* Different sizes for the boxes */
  .day.day:nth-child(1) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(2) { grid-column: span 1; grid-row: span 2;}
  .day:nth-child(3) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(4) { grid-column: span 1; grid-row: span 1;}
  .day:nth-child(5) { grid-column: span 3; grid-row: span 1;}
  .day:nth-child(6) { grid-column: span 2; grid-row: span 3;}
  .day:nth-child(7) { grid-column: span 1; grid-row: span 3;}
  .day:nth-child(8) { grid-column: span 1; grid-row: span 2;}
  .day:nth-child(9) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(10) { grid-column: span 4; grid-row: span 5;}
  .day:nth-child(11) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(12) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(13) { grid-column: span 3; grid-row: span 2;}
  .day:nth-child(14) { grid-column: span 1; grid-row: span 1;}
  .day:nth-child(15) { grid-column: span 2; grid-row: span 3;}
  .day:nth-child(16) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(17) { grid-column: span 1; grid-row: span 3;}
  .day:nth-child(18) { grid-column: span 1; grid-row: span 2;}
  .day:nth-child(19) { grid-column: span 2; grid-row: span 4;}
  .day:nth-child(20) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(21) { grid-column: span 1; grid-row: span 1;}
  .day:nth-child(22) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(23) { grid-column: span 2; grid-row: span 3;}
  .day:nth-child(24) { grid-column: span 1; grid-row: span 2;}
  .day:nth-child(25) { grid-column: span 3; grid-row: span 4;}
  .day:nth-child(26) { grid-column: span 3; grid-row: span 2;}
  .day:nth-child(27) { grid-column: span 2; grid-row: span 4;}
  .day:nth-child(28) { grid-column: span 1; grid-row: span 2;}
  .day:nth-child(29) { grid-column: span 2; grid-row: span 2;}
  .day:nth-child(30) { grid-column: span 1; grid-row: span 4;}
  .day:nth-child(31) { grid-column: span 3; grid-row: span 2;}

  /* Add more styles here for the rest of the days */
  .calendar .day:hover {
    background: rgb(245,41,41);
background: linear-gradient(90deg, rgba(245,41,41,1) 0%, rgba(217,0,36,1) 51%, rgba(180,0,0,1) 95%);
    -webkit-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    -moz-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
  }

  /* .calendar .day.past.active{
    background: rgb(245,41,41);
    background: linear-gradient(90deg, rgba(245,41,41,1) 0%, rgba(217,0,36,1) 51%, rgba(180,0,0,1) 95%);
    -webkit-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    -moz-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
  } */

  .calendar .day.today.active{
    background: rgb(245,41,41);
    background: linear-gradient(90deg, rgba(245,41,41,1) 0%, rgba(217,0,36,1) 51%, rgba(180,0,0,1) 95%);
    -webkit-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    -moz-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
  }

  .calendar .day.active{
    background: rgb(245,41,41);
    background: linear-gradient(90deg, rgba(245,41,41,1) 0%, rgba(217,0,36,1) 51%, rgba(180,0,0,1) 95%);
    -webkit-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    -moz-box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
    box-shadow: 8px 8px 12px 2px rgba(239, 0, 0, 0.53);
  }

  .heading {
    position: absolute;
    margin-top: 20px;
    top: 0;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 40px;
    user-select: none;
    }

    #modal {
        position: fixed;
        z-index: 44;
        top: -100%;
        left: 0;
        height: 100%;
        width: 100%;
        /* background: rgba(180, 119, 251, 0.622); */
        background: url(pics/xmastree.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        user-select: none;
    
    }
    #modal .wrapper {
        height: 100%;
        width: 100%;
        display: table;
    }
    #modal .wrapper .wrappercontent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #modal .wrapper .wrappercontent .close {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 15px;
        right: 15px;
        transform: rotate(45deg);
    }
    #modal .wrapper .wrappercontent .close:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -1px;
        height: 0%;
        width: 2px;
        background: rgba(255, 255, 255, 0.7);
    }
    #modal .wrapper .wrappercontent .close:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        width: 0%;
        height: 2px;
        background: rgba(255, 255, 255, 0.7);
    }
    #modal .wrapper .wrappercontent .box {
        position: relative;
        padding: 50px;
        width: 500px;
        max-width: 500px;
        background: rgb(255, 255, 255);
        border-radius: 70% 30% 76% 24% / 43% 55% 45% 57%;
        margin: 0 auto;
        transform: scale(0);
    }
    
    #modal.active .wrapper .wrappercontent .box:hover {
        border-radius: 31% 69% 40% 60% / 55% 60% 40% 45%;
    }
    
    #modal .wrapper .wrappercontent .box h2 {
        font-size: 30px;
        line-height: 35px;
        font-weight: 300;
        margin-top: 30px;
        margin-left: 3%;
        margin-bottom: 10px;
        font-family: 'Caveat', cursive;
    
    }
    #modal .wrapper .wrappercontent .box p {
        font-size: 24px;
        line-height: 22px;
        margin-top: 25px;
        margin-bottom: 45px;
        margin-left: 10px;
        font-family: 'Caveat', cursive;
    
    }
    #modal .wrapper .wrappercontent .box p:last-of-type {
        margin-bottom: 0;
    }
    #modal .wrapper .wrappercontent .box a.button {
        display: inline-block;
        position: relative;
        margin-left: 40%;
        padding: 25px 20px;
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Caveat', cursive;
        
    
        background-color:rgba(10,107,105, 0.904);
        border-radius: 31% 69% 40% 60% / 55% 60% 40% 45%;
        margin-top: 25px;
        transition: 0.25s ease-in-out;
    } 
    #modal .wrapper .wrappercontent .box a.button:hover {
        background-color: rgb(31, 148, 146);
    
    }
    #modal.active {
        top: 0%;
        animation: fadeIn 0.35s ease-in-out;
    }
    #modal.active.moveOut {
        animation: fadeOut 0.35s ease-in-out;
    }
    #modal.active .wrapper .wrappercontent .box {
        -webkit-animation: scaleUp 750ms .25s linear both;    
        animation: scaleUp 750ms 0.25s linear both;
        transition: 0.5s ease-in-out;
    }
    #modal.active .wrapper .wrappercontent .close:before {
        height: 100%;
        transition: 0.25s 0.5s ease-in-out;
    }
    #modal.active .wrapper .wrappercontent .close:after {
        width: 100%;
        transition: 0.25s 0.25s ease-in-out;
    }
    #modal.active .wrapper .wrappercontent .close:hover {
        cursor: pointer;
    }
    #modal.active .wrapper .wrappercontent .close:hover:before, #modal.active .wrapper .wrappercontent .close:hover:after {
        transition: 0.25s 0s ease-in-out;
        background: rgba(255, 255, 255, 1);
    }

    @keyframes fadeIn {
        0% {
          top:0%;
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @keyframes scaleUp { 
        0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        3.2% { -webkit-transform: matrix3d(0.345, 0.098, 0, 0, 0.065, 0.345, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.345, 0.098, 0, 0, 0.065, 0.345, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        4.5% { -webkit-transform: matrix3d(0.485, 0.163, 0, 0, 0.107, 0.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.485, 0.163, 0, 0, 0.107, 0.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        6.41% { -webkit-transform: matrix3d(0.673, 0.242, 0, 0, 0.158, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.673, 0.242, 0, 0, 0.158, 0.673, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        9.01% { -webkit-transform: matrix3d(0.88, 0.288, 0, 0, 0.188, 0.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.88, 0.288, 0, 0, 0.188, 0.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        12.71% { -webkit-transform: matrix3d(1.064, 0.241, 0, 0, 0.159, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.064, 0.241, 0, 0, 0.159, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        13.51% { -webkit-transform: matrix3d(1.087, 0.221, 0, 0, 0.146, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.087, 0.221, 0, 0, 0.146, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        17.92% { -webkit-transform: matrix3d(1.139, 0.105, 0, 0, 0.07, 1.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.139, 0.105, 0, 0, 0.07, 1.139, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        18.92% { -webkit-transform: matrix3d(1.137, 0.082, 0, 0, 0.055, 1.137, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.137, 0.082, 0, 0, 0.055, 1.137, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        25.23% { -webkit-transform: matrix3d(1.075, -0.001, 0, 0, -0.001, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.075, -0.001, 0, 0, -0.001, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        29.03% { -webkit-transform: matrix3d(1.032, -0.015, 0, 0, -0.01, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, -0.015, 0, 0, -0.01, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        31.43% { -webkit-transform: matrix3d(1.012, -0.017, 0, 0, -0.011, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, -0.017, 0, 0, -0.011, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        34.63% { -webkit-transform: matrix3d(0.994, -0.014, 0, 0, -0.01, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, -0.014, 0, 0, -0.01, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        40.14% { -webkit-transform: matrix3d(0.985, -0.007, 0, 0, -0.005, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.985, -0.007, 0, 0, -0.005, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        56.46% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        62.36% { -webkit-transform: matrix3d(1.002, 0.001, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0.001, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        84.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
        100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
      }

      /* Style for the keyword input modal */
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(214, 28, 28, 0.867);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    color: #ffffff;
    
  }

  .modal input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  .modal button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9f0505;
    color: white;
    cursor: pointer;
    font-size: 1em;
  }

  .modal button:hover {
    background-color: #6a0f0f;
  }

  .modal .active {
    display: block;
  }